<div id="progress-section">
    <div class="progress-bar-container">
        <div class="progress vertical progress-xlg">
            <div role="progressbar" style="height: <%= data.percentage %>%;" class="progress-bar progress-bar-default">
                <span class="sr-only"></span></div>
        </div>
        <span data-test="percentage"><%= data.percentage %>%</span>
    </div>

    <% if (data.finished) { %>
        <p class="xmas-red strong center" data-test="finish-text"><%= __(`progress.text-end-1`) %></p>
        <p class="xmas-green strong center"><%= __(`progress.text-end-2`) %></p>
    <% } else { %>
    <p>
        <%= __(`progress.text-next-button`) %>
    </p>
    <span class="xmas-red" data-test="button"><%= __(`button-name-${data.nextButton}`) %></span>
    <p>
        <%= __(`progress.text-next-clue`) %>
    </p>
    <span class="xmas-green" data-test="clue"><%= __(`button-clue-${data.nextButton}`) %></span>

    <% } %>
</div>
