<p>
    <% if (standing.length > 1) { %>
    <div>
        <table>
            <tr>
                <th><%=__('team-heading')%></th>
                <th><%=__('points-heading')%></th>
            </tr>

            <% for(var i=0; i < standing.length; i++) { %>
            <tr>
                <td data-test="name-<%=i%>"><%= standing[i].name %></td>
                <td data-test="score-<%=i%>"><%= standing[i].score %></td>
            </tr>
            <% } %>
        </table>
    </div>
<% } else { %>
<p> HO HO HO ... </p>
<% } %>



