<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="/images/christmastree.png">
    <h1 class="center" [data-test="title"]><%= title %></h1>

    <table>
        <tr>
            <th>Team Name</th>
            <th>Points</th>
        </tr>

        <% for(var i=0; i < standing.length; i++) { %>
        <tr>
            <td data-test="name-<%=i%>"><%= standing[i].name %></td>
            <td><%= standing[i].score %></td>
        </tr>
        <% } %>

    </table>

  </body>
</html>
