<!DOCTYPE html>
<html>
<head>
    <title><%= __('title') %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/refresh.js"></script>

</head>
<body>
<%- include('partials/snow'); %>
<div id="header">
    <img class=image-center src="/images/christmastree.png">
    <h1 class="center" data-test="title" >
        <%= __('title-1') %>
        <span class="xmas-red"><%= __('title-2') %></span><%= __('title-3') %><span
                class="xmas-green"><%= __('title-4') %></span>
        <%= __('title-5') %>
    </h1>
</div>

<div>
<% if(eventState === 'before') { %>
    <div class="center">
        <span data-test="before-event-text"><%= __('before-event-text') %></span>
    </div>
<% } %>

<% if(eventState === 'after') { %>

    <div class="pyro">
        <div class="before"></div>
        <div class="center">
            <span data-test="after-event-text"><%= __('after-event-text-1') %></span>
            <h1 class="xmas-green" data-test="first-place-team"><i class="em em-first_place_medal"></i><%= __(`team-${standing[0].name}`) %><i class="em em-first_place_medal"></i></h1>
            <h2 class="xmas-green" data-test="second-place-team"><i class="em em-second_place_medal"></i><%= __(`team-${standing[1].name}`) %><i class="em em-second_place_medal"></i></h2>
            <h3 class="xmas-green" data-test="third-place-team"><i class="em em-third_place_medal"></i><%= __(`team-${standing[2].name}`) %><i class="em em-third_place_medal"></i></h3>
            <i class="em em-gift"></i><span data-test="after-event-text"><%= __('after-event-text-2') %></span><i class="em em-gift"></i>
        </div>
        <div class="after"></div>
    </div>

<% } %>
</div>

<% if(eventState === 'during') { %>
    <div class="center">
        <h2 data-test="day-title"><i class="em em-christmas_tree"></i>  <%= __(`day-${day}`) %>  <i class="em em-christmas_tree"></i></h2>
    </div>

    <div id="score-table">
        <%- include('partials/score-table', {standing}); %>
    </div>
<% } %>

</body>
</html>
