<!DOCTYPE html>
<html>
<head>
    <title><%= __('title') %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/refresh.js"></script>

</head>
<body class="content">
<%- include('partials/snow'); %>
<div id="header">
    <h1 class="center" [data-test="title" ]>
        <span class="xmas-red"><%= __('title-2') %></span><%= __('title-3') %><span
                class="xmas-green"><%= __('title-4') %></span>
        <%= __('title-5') %>
    </h1>
</div>
<div id="progress">
    <p>
        Welcome to the Internet of Things hunt.
    </p>
    <p>
        You and your friends are tasked with finding a number of buttons you need to press in order to win a prize.
    </p>
        <%- include('partials/progress-bar', {data}); %>
    <p>
        The bar above shows how well you are getting on.
    </p>
    <p>
        Each time you press a button a new clue with appear below.
        Your first clue is there now.  Take a look and see if you can find it.
    </p>
</div>

</body>
</html>
